<?xml version="1.0"?>
<model>
  <name>Latest version of the ROMERIN leg simplified</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
   <name>Carlos Prados Sesmero</name>
   <email>carlos.prados@hotmail.com</email>
  </author>

  <description>
    Latest version of one simple single leg of the robot ROMERIN
  </description>
</model>